@inject IViewLocalizer Localizer
@{
    var result = (bool) ViewBag.Response;
}

<main class="c_main">
    <section class="c_band --spacious">
        <div class="l_container --mini u_text-align--center">
            @if (result)
            {
                <svg class="c_feather-icon --large u_margin-bottom--s2 u_color--positive"><use xlink:href="/_assets/images/icons.svg#check" /></svg>
                <h1><span class="__pre-title">@Localizer["Title"]</span> @Localizer["Thanks"]</h1>
            }
            else
            {
                <svg class="c_feather-icon --large u_margin-bottom--s2 u_color--negative"><use xlink:href="/_assets/images/icons.svg#alert-circle" /></svg>
                <h1><span class="__pre-title">@Localizer["Title1"]</span>@Localizer["Try"]</h1>
            }
            <a href="@Url.Action("Index", "OfferHub")" class="e_button --small">@Localizer["Return"]</a>
        </div>
    </section>
</main>