@model ResetPasswordModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Reset Password"];
}
@*@using (Html.BeginForm("SaveNewPassword", "Account", FormMethod.Post, new { id = "resetForm", target = "_top" }))
    {*@

    <main class="c_main">
        <section class="c_band">
            <div class="l_container --mini">
                <form class="c_form-container" role="form">
                    <h2 class="text-center frgtpassheads">@Localizer["Reset Password"]</h2>
                    <p class="__notice js_auto-center c_notification --positive hideContent" id="successMsg">@Localizer["SuccessMsg"]</p>
                    <p class="__notice js_auto-center c_notification --negative hideContent" id="ErrorMsg">@Localizer["ErrorMsg"]</p>

                    @*<div class="col-md-12 panel-body" id="QuestionsDiv">*@

                    @Html.HiddenFor(m => m.Answer)

                    @Html.HiddenFor(m => m.Username)
                    @Html.HiddenFor(m => m.Token)
                    @*<div class="form-group row">
            @Html.LabelFor(m => m.QuestionId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.QuestionId, Model.Questions, "Select Question", htmlAttributes: new { @class = "form-control  dropdownInput", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.QuestionId, "", new { @class = "text-danger" })
            </div>

        </div>*@

                    @*<div class="form-group row">
            @Html.LabelFor(model => model.UserAnswer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.UserAnswer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserAnswer, "", new { @class = "text-danger" })
            </div>
        </div>*@

                    @*<div class="col-md-4">
            <a class="btn btn-mini btn-success pull-right has-spinner" id="SubmitAnswer">
                <span class="spinner"><i class="fa fa-spinner fa-spin"></i></span> @Localizer["Submit"]
            </a>
        </div>*@

                    @*</div>*@
                    <div id="ResetPasswordDiv">
                        <div class="c_form-group">
                            <label for="account_password">@Localizer["Password"] <span class="__required">@Localizer["Required"]</span></label>
                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { type = "password" } })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                            <p>@Localizer["Rule"]</p>
                        </div>

                        <div class="c_form-group">
                            <label for="account_confirm">@Localizer["Confirm"] <span class="__required">@Localizer["Required"]</span></label>
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-4">
                            <div class="c_form-group --actions">
                                <button type="button" class="btn v2_button" id="SubmitPassword">@Localizer["Submit"]</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
@*}*@
@section Scripts
    {
    <script type="text/javascript">
        Login.setUpEvents();
    </script>
}
