@model OffersDisplayViewModel
@inject IViewLocalizer Localizer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = @Localizer["Display Offer"];
}

<main class="c_main">
    <section class="c_band --tight">
        <div class="l_container">
            <h1>@Model.ParentCategoryName Offers</h1>
            <div class="l_flex">
                <div class="__column --span-12 --span-4--md --span-3--lg" id="offerFilters">
                    <form role="form">
                        <input type="hidden" id="ParentCategoryName" value="@Model.ParentCategoryName" />
                        <input type="hidden" id="ParentCategoryId" value="@Model.ParentCategoryId" />
                        <aside class="c_sidebar --toggleable" id="sidebar">
                            <div class="__toggler">@Localizer["Filter"] <svg class="c_feather-icon"><use xlink:href="/images/icons.svg#menu" /></svg></div>
                            <div class="__content" id="displaySidebarFilter">
                                @{
                                    @await Html.PartialAsync("_category", @Model.Categories, new ViewDataDictionary(this.ViewData) { { "CategoryHeader", @Localizer["CategoryHeader"].Value.ToString() } })
                                }
                                @{
                                    @await Html.PartialAsync("_offerType", @Model.OfferTypes, new ViewDataDictionary(this.ViewData) { { "OfferTypeHeader", @Localizer["OfferTypeHeader"].Value.ToString() } })
                                }
                                <!-- c_widget - merchant - START -->
                                <div class="c_widget">
                                    <div class="__header">@Localizer["MerchantNameHeader"]</div>
                                    <div class="__content --flat">
                                        <div class="__search">
                                            @Html.EditorFor(m => m.MerchantName, new { htmlAttributes = new { type = "search",@name="mainSearchTerm", @class = "--small", PlaceHolder = @Localizer["SearchPlaceHolder"].Value.ToString() } })
                                        </div>
                                    </div>
                                </div>
                                <!-- c_widget - merchant - END -->
                                <div class="c_widget">
                                    <div class="__content">
                                        <button class="--block --small" type="button" id="btnApply">@Localizer["ApplyButton"]</button>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </form>
                </div>
                <div class="__column --span-12 --span-8--md --span-9--lg" id="displayContentFilter">
                    <div class="u_margin-bottom--s3 u_margin-bottom--s4--md">
                        @if (Model.OfferHubViewModels?.Count > 0)
                        {
                            @await Html.PartialAsync("_slider", @Model.OfferHubViewModels)
                        }
                    </div>
                    @if (Model.PagedOffersView?.OfferSummaries?.Count > 0)
                    {
                        @await Html.PartialAsync("_offersDetail", @Model.PagedOffersView)
                    }
                    else
                    {
                        <div style="text-align: center" id="noResult">
                            <h4 style="color: #e74c3c">@Localizer["No records found"]</h4>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</main>
@section Scripts
    {
    <script type="text/javascript">
        Offers.setUpEvents();
        $("#offerCount").val(@Model.PagedOffersView.PagingView.PageSize);
        $("#offerSort").val('@Model.OfferSort');
    </script>
}
