@model List<LocalOfferViewModel>
<!-- glide -->
<div class="glide --carousel">
    <div data-glide-el="track" class="glide__track">
        <ul class="glide__slides">
            @foreach (var offer in Model)
            {
                @*{% if offer.special == 2 %}*@
                
                <li class="glide__slide">
                    <!-- c_featured-offer -->
                    <a href="@Url.Action("Index","Offers",new { country = ViewData["Country"].ToString(),merchantId=@offer.MerchantId,offerId=@offer.OfferId})" class="c_featured-offer">

                        @if (!string.IsNullOrEmpty(offer.FeatureImage) && offer.UseFeatureImage)
                        {
                            <img class="__image lazy" src="/images/blank.png" data-src="/Image/GetImage?Path=@offer.FeatureImage" data-srcset="/Image/GetImage?Path=@offer.FeatureImage" alt="@offer.MerchantName">
                        }
                        else if (!string.IsNullOrEmpty(offer.LargeImage))
                        {
                            <img class="__image lazy" src="/images/blank.png" data-src="/Image/GetImage?Path=@offer.LargeImage" data-srcset="/Image/GetImage?Path=@offer.LargeImage" alt="@offer.MerchantName">
                        }
                        else
                        {
                            <img class="__image" />
                        }
                        <div class="__content">
                            @if (!string.IsNullOrEmpty(offer.Logo))
                            {
                                <div class="__logo">
                                    <img class="lazy" src="/images/blank.png" data-src="/Image/GetImage?Path=@offer.Logo" data-srcset="/Image/GetImage?Path=@offer.Logo" alt="@offer.MerchantName">
                                </div>
                            }
                            else
                            {
                                <div class="__logo">
                                    <img />
                                </div>
                            }
                            <h2>@offer.OfferShortDescription</h2>
                            <p>@Html.Raw(@offer.OfferLongDescription)</p>
                        </div>
                    </a>
                    <!-- c_featured-offer - END -->
                </li>

                @*{% endif %}*@
            }
        </ul>
    </div>
    @if (Model.Count > 1)
    {
        <div class="glide__arrows">
            <div class="glide__arrow glide__arrow--left" aria-label="Previous slide"><svg class="c_feather-icon"><use xlink:href="/images/icons.svg#arrow-left" /></svg></div>
            <div class="glide__arrow glide__arrow--right" aria-label="Next slide"><svg class="c_feather-icon"><use xlink:href="/images/icons.svg#arrow-right" /></svg></div>
        </div>
    }
</div>
<!-- glide - END -->
